<!DOCTYPE html>
<html ng-app="pianoApp">
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>The Piano App</title>
		<link rel="stylesheet" type="text/css" href="Piano_Style.css">
		<script type = "text/javascript" src = "jquery-1.11.1.min.js"></script>
		<script src="angular.min.js"></script>
		<script type="text/javascript" src="Piano_Scripts.js"></script>
		<script type="text/javascript" src="Tutorial_and_Quiz_Module.js"></script>
		<script type="text/javascript" src="Tutorial_and_Quiz_Services.js"></script>
		<script type="text/javascript" src="Tutorial_and_Quiz_Controllers.js"></script>
		<script type="text/javascript" src="mousetrap.js"></script>
	</head>
	
	
	<body ng-controller="TutorialQuizController as tutorial">
	
		<div id="actions" ng-controller="LevelsListController as levels_info">	
		<div id="header2">
			<ul id="nav">
			  <li><a href="#">Log in</a></li>
			  <li><a href="#">Sign up</a></li>
			</ul>
		</div>
		<div id="header">
			<ul id="nav">
			  <li id="tutorial"><a href="#" class="smallsize" ng-click="tutorial.setMode('tutorial')">Tutorial</a></li>
			  <li id="quiz"><a href="#" class="smallsize" ng-click="tutorial.setMode('quiz')">Quiz</a></li>
			  <li id="freeplay"><a href="#" class="fullsize" ng-click="tutorial.setMode('free_play')">Free Play Mode</a></li>
			</ul>
		</div>
	  <div id="level_select">
	  <ul>
	  Tutorial Level:
	  <select ng-model="new_level" ng-change="tutorial.setLevel(new_level)" ng-init="new_level=1">
		<option ng-repeat="level in levels_info.level_overview" value={{level.id}}>
			{{level.title}}
		</option>
	  </select>
	  </ul>
	  </div>
	</div>
	
	<div id="test">
	<table>
	</table>
	</div>
	</body>
</html>