<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<title>Level Selection</title>
		<link rel="stylesheet" type="text/css" href="Piano_Style.css">
		<script type = "text/javascript" src = "jquery-1.11.1.min.js"></script>
		<script src="angular.min.js"></script>
		<script type="text/javascript" src="Piano_Scripts.js"></script>
		<script type="text/javascript" src="mousetrap.js"></script>
	</head>
	<body>

	<div id="actions">

		<div class="header2">
			<img src="Images/noteable2.png" style="float:right;"/>
		</div>

		<div id="header">
			<ul id="nav" class="center">
			  <li><a href="piano.html">Home</a></li>
			  <li><a href="level_selection.html" class="smallsize" ng-click="tutorial.setMode('tutorial')">Tutorial</a></li>
			  <li><a href="level_selection.html" class="smallsize" ng-click="tutorial.setMode('quiz')">Quiz</a></li>
			  <li><a href="piano.html" class="fullsize" ng-click="tutorial.setMode('free_play')">Free Play Mode</a></li>
			</ul>
		</div>

	  <div class="header2">
		  <img src="Images/noteable.png"/>
	  </div>

	</div>
	<div id="test"></div>
	</body>
</html>
