html,body { height:100%; width:100%;padding:0; margin:0; background-color:#FFFAFA; font-family:arial; color:white; }

.center {display:block;margin-left:auto; margin-right:auto; }

.blue {color:blue;}

img
{
	padding:0;
	margin:0;
}

#level_select
{
	position:relative;
	top:12%;
	height:50%;
	margin:0;
	padding:0;
	clear:both;
}

.square
{
	width:80%;
	height:80%;
	margin-top:10px;
	background-color:#005A95;
	border-radius:5px;
	border: 1px solid black;
}

table
{
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
}

td
{
	display:inline-block;
	width:30%;
	height:100px;
	border: 1px solid #ccc;
	background-color:#70AFD8;
	border-radius:5px;
	margin:2px;
	border: 1px solid black;
}

#header
{
	top:10px;
	position:relative;
	height:100px;
	width:40%;
	background-color:#005A95;
	float:right;
	text-align:center;
}

.header2
{
	position:relative;
	width:30%;
	float:right;
	height:100px;
	background-color:#70AFD8;
	top:10px;
}

.header2 img
{
	padding-top:6px;
}

li { display:inline; }

ul
{
    list-style-type: none;
    margin:0;
    padding:0;
	margin-top:40px;
}

a
{
	position: relative;
	color:white;
	text-decoration: none;
}

a:hover
{
	color: #000;
}

a:before
{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a:hover:before
{
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#tutorial_question
{
    position:relative;
    display:none;
    clear: both;
}

#full_piano_container
{
    position:relative;
    width:1300px;
    clear: both;
    top:70px;
}

#full_piano_container_small
{
    position:relative;
    width:938px;
    padding-bottom:90px;
    top:-80px;
    clear: both;
}

#full_piano_container .keyboard_body
{
    position:relative;
    width:1295px;
    height:280px;
    background-image: url("Images/Body.png");
    margin:0;
    padding:0;
    -webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

#full_piano_container_small .keyboard_body
{
    position:relative;
    width:938px;
    height:224px;
    background-image: url("Images/Body.png");
    margin:0;
    padding:0;
    -webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

#full_piano_container .keyboard_face
{
    position:relative;
    top:59%;
    width:1295px;
    height:100%;
    background-image: url("Images/PianoFace.png");
    background-repeat:no-repeat;
    margin:0;
    padding:0;
}

#full_piano_container_small .keyboard_face
{
    position:relative;
    top:59%;
    width:938px;
    height:100%;
    background-image: url("Images/PianoFace.png");
    background-repeat:no-repeat;
    margin:0;
    padding:0;
}

#full_piano_container .container
{
    position:relative;
    width:1300px;
    white-space:nowrap;
}

#full_piano_container_small .container
{
    position:relative;
    width:938px;
    white-space:nowrap;
}

#full_piano_container .inside
{
    position:relative;
    height:271px;
    width:1300px;
    overflow:hidden;
}

#full_piano_container_small .inside
{
    position:relative;
    height:240px;
    width:938px;
    overflow:hidden;
}

#full_piano_container .keys
{
    position:relative;
    height:271px;
    width:1300px;
}

#full_piano_container_small .keys
{
    position:relative;
    height:240px;
    width:938px;
}

#full_piano_container .white.key
{
    width:36px;
    height:271px;
    float:left;
    background-image:url("Images/WhiteKey.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container .white.highlight
{
	width:36px;
    height:271px;
    float:left;
    background-image:url("Images/WhiteKeyHighlight.png");
    background-repeat:no-repeat;
    cursor:pointer;
}


#full_piano_container_small .white.key
{
    width:67px;
    height:240px;
    float:left;
    background-image:url("Images/WhiteKey_Small.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container_small .white.highlight
{
    background-image:url("Images/WhiteKey_Small_Highlight.png");
}

#full_piano_container .black.key
{
    position:relative;
    float:left;
    width: 24px;
    height:144px;
    left: -13px;
    margin-right: -46px;
    vertical-align: top;
    background-image:url("Images/BlackKey.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container_small .black.key
{
    position: relative;
    float:left;
    width: 40px;
    height:120px;
    left: -20px;
    margin-right: -40px;
    vertical-align: top;
    background-image:url("Images/BlackKey_Small.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

.whitekey_down {
    float:left;
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container .white.key_down
{
    width:36px;
    height:440px;
    background-image:url("Images/WhiteKeyDown.png");
    cursor:pointer;
}

#full_piano_container_small .white.key_down
{
    width:67px;
    height:240px;
    background-image:url("Images/WhiteKeyDown_Small.png");
    cursor:pointer;
}

#full_piano_container .black.key_down
{
    position: relative;
    float:left;
    width: 24px;
    height:144px;
    left: -13px;
    margin-right: -46px;
    vertical-align: top;
    background-image:url("Images/BlackKeyDown.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container_small .black.key_down
{
    position: relative;
    float:left;
    width: 40px;
    height:120px;
    left: -20px;
    margin-right: -40px;
    vertical-align: top;
    background-image:url("Images/BlackKeyDown_Small.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

#tutorial_screen {
    position: relative;
    text-align: center;
    width: 840px;
    height: 88px;
    top: 34px;
    z-index:1000;
    font-size:150%;
    border-color:black;
    background-color:#8195D5;
    border:solid;
    overflow:auto;
    clear:both;
}

#tutorial_screen.correct {
    border-color:green;
}

#tutorial_screen.wrong {
    border-color:red;
}

#tutorial_screen #click_to_continue_true {
    position: absolute;
    bottom: 0;
    right: 0;
	color:#0033CC;
    font-size:150%;
    cursor:pointer;
    visibility: hidden;
}

#tutorial_screen #click_to_continue_true.clickable_true {
    visibility: visible;
    font-size: 20px;
}

#tutorial_screen.multiple_choice_mode_true { height: 200px; }

#tutorial_screen form { text-align: center; }

input[type="radio"] {
    width: 4em;
    height: 2em;
}

h1
{
	clear:both;
	position:relative;
	top:50px;
}

.title {
    text-align: center;
    color: black;
    margin:0;
}

