html,body { height:100%; width:100%;padding:0; margin:0; }

.center {margin-left:auto; margin-right:auto; }

.blue {color:blue;}

#full_piano_container
{
    position:relative;
    width:1300px;
    top:140px;
}

#full_piano_container_small
{
    position:relative;
    width:1155px;
    top:140px;
}

#full_piano_container .keyboard_body
{
    position:relative;
    width:1295px;
    height:280px;
    background-image: url("Images/Body.png");
    margin:0;
    padding:0;
}

#full_piano_container_small .keyboard_body
{
    position:relative;
    width:1149px;
    height:280px;
    background-image: url("Images/Body.png");
    margin:0;
    padding:0;
}

#full_piano_container .keyboard_face
{
    position:relative;
    top:59%;
    width:1295px;
    height:100%;
    background-image: url("Images/PianoFace.png");
    background-repeat:no-repeat;
    margin:0;
    padding:0;
}

#full_piano_container_small .keyboard_face
{
    position:relative;
    top:59%;
    width:1149px;
    height:100%;
    background-image: url("Images/PianoFace.png");
    background-repeat:no-repeat;
    margin:0;
    padding:0;
}

#full_piano_container .container
{
    position:relative;
    width:1300px;
    height:35%;
    white-space:nowrap;
}

#full_piano_container_small .container
{
    position:relative;
    width:1155px;
    height:300px;
    white-space:nowrap;
}

#full_piano_container .inside
{
    position:relative;
    height:271px;
    width:1300px;
    overflow:hidden;
}

#full_piano_container_small .inside
{
    position:relative;
    height:300px;
    width:1155px;
    overflow:hidden;
}

#full_piano_container .keys
{
    position:relative;
    height:271px;
    width:1300px;
}

#full_piano_container_small .keys
{
    position:relative;
    height:300px;
    width:1155px;
}

#full_piano_container .white.key
{
    width:36px;
    height:271px;
    float:left;
    background-image:url("Images/WhiteKey.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container_small .white.key
{
    width:82px;
    height:300px;
    float:left;
    background-image:url("Images/WhiteKey_Small.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container .black.key
{
    position:relative;
    float:left;
    width: 24px;
    height:144px;
    left: -13px;
    margin-right: -46px;
    vertical-align: top;
    background-image:url("Images/BlackKey.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container_small .black.key
{
    position: relative;
    float:left;
    width: 50px;
    height:150px;
    left: -25px;
    margin-right: -50px;
    vertical-align: top;
    background-image:url("Images/BlackKey_Small.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

.whitekey_down {
    float:left;
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container .white.key_down
{
    width:36px;
    height:440px;
    background-image:url("Images/WhiteKeyDown.png");
    cursor:pointer;
}

#full_piano_container_small .white.key_down
{
    width:82px;
    height:300px;
    background-image:url("Images/WhiteKeyDown_Small.png");
    cursor:pointer;
}

#full_piano_container .black.key_down
{
    position: relative;
    float:left;
    width: 24px;
    height:144px;
    left: -13px;
    margin-right: -46px;
    vertical-align: top;
    background-image:url("Images/BlackKeyDown.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container_small .black.key_down
{
    position: relative;
    float:left;
    width: 50px;
    height:150px;
    left: -25px;
    margin-right: -50px;
    vertical-align: top;
    background-image:url("Images/BlackKeyDown_Small.png");
    background-repeat:no-repeat;
    cursor:pointer;
}
