html,body { height:100%; width:100%;padding:0; margin:0; background-color:#FFFAFA; font-family:arial; color:white; }

.center {display:block;margin-left:auto; margin-right:auto; }

.blue {color:blue;}

#test
{
	position:relative;
	top:25%;
	height:50%;
	margin:0;
	padding:0;
}

table
{
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
}

td 
{
	display:inline-block;
	width:30%;
	height:100px;
	border: 1px solid #ccc;
	background-color:#70AFD8;
}

#header
{
	top:10px;
	position:relative;
	height:100px;
	width:40%;
	background-color:#005A95;
	float:right;
	text-align:center;
}

.header2
{
	position:relative;
	width:30%;
	float:right;
	height:100px;
	background-color:#70AFD8;
	top:10px;
}

#level_select 
{
	position:relative;
	width:30%;
	float:right;
	background-color:#70AFD8;
	height:100px;
	top:10px;
	text-align:left;	
}

li { display:inline; }

ul
{
    list-style-type: none;
    margin:0;
    padding:0;
	margin-top:40px;
}

#header a, #footer a, #header2 a
{
	position: relative;
	color:white;
	text-decoration: none;
}

#header a:hover, #header2 a:hover
{
	color: #000;
}

#header a:before, #header2 a:before
{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

#header a:hover:before, #header2 a:hover:before
{
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#tutorial_question
{
	float:left;
	width:100%;
}

#full_piano_container
{
    position:relative;
    width:1300px;
    top:135px;
}

#full_piano_container_small
{
    position:relative;
    width:1155px;
    top:-110px;
    padding-bottom:100px;
}

#full_piano_container .keyboard_body
{
    position:relative;
    width:1295px;
    height:280px;
    background-image: url("Images/Body.png");
    margin:0;
    padding:0;
}

#full_piano_container_small .keyboard_body
{
    position:relative;
    width:1149px;
    height:280px;
    background-image: url("Images/Body.png");
    margin:0;
    padding:0;
}

#full_piano_container .keyboard_face
{
    position:relative;
    top:59%;
    width:1295px;
    height:100%;
    background-image: url("Images/PianoFace.png");
    background-repeat:no-repeat;
    margin:0;
    padding:0;
}

#full_piano_container_small .keyboard_face
{
    position:relative;
    top:59%;
    width:1149px;
    height:100%;
    background-image: url("Images/PianoFace.png");
    background-repeat:no-repeat;
    margin:0;
    padding:0;
}

#full_piano_container .container
{
    position:relative;
    width:1300px;
    white-space:nowrap;
}

#full_piano_container_small .container
{
    position:relative;
    width:1155px;
    white-space:nowrap;
}

#full_piano_container .inside
{
    position:relative;
    height:271px;
    width:1300px;
    overflow:hidden;
}

#full_piano_container_small .inside
{
    position:relative;
    height:300px;
    width:1155px;
    overflow:hidden;
}

#full_piano_container .keys
{
    position:relative;
    height:271px;
    width:1300px;
}

#full_piano_container_small .keys
{
    position:relative;
    height:300px;
    width:1155px;
}

#full_piano_container .white.key
{
    width:36px;
    height:271px;
    float:left;
    background-image:url("Images/WhiteKey.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container .white.highlight
{
	width:36px;
    height:271px;
    float:left;
    background-image:url("Images/WhiteKeyHighlight.png");
    background-repeat:no-repeat;
    cursor:pointer;
}


#full_piano_container_small .white.key
{
    width:82px;
    height:300px;
    float:left;
    background-image:url("Images/WhiteKey_Small.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container .black.key
{
    position:relative;
    float:left;
    width: 24px;
    height:144px;
    left: -13px;
    margin-right: -46px;
    vertical-align: top;
    background-image:url("Images/BlackKey.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container_small .black.key
{
    position: relative;
    float:left;
    width: 50px;
    height:150px;
    left: -25px;
    margin-right: -50px;
    vertical-align: top;
    background-image:url("Images/BlackKey_Small.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

.whitekey_down {
    float:left;
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container .white.key_down
{
    width:36px;
    height:440px;
    background-image:url("Images/WhiteKeyDown.png");
    cursor:pointer;
}

#full_piano_container_small .white.key_down
{
    width:82px;
    height:300px;
    background-image:url("Images/WhiteKeyDown_Small.png");
    cursor:pointer;
}

#full_piano_container .black.key_down
{
    position: relative;
    float:left;
    width: 24px;
    height:144px;
    left: -13px;
    margin-right: -46px;
    vertical-align: top;
    background-image:url("Images/BlackKeyDown.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

#full_piano_container_small .black.key_down
{
    position: relative;
    float:left;
    width: 50px;
    height:150px;
    left: -25px;
    margin-right: -50px;
    vertical-align: top;
    background-image:url("Images/BlackKeyDown_Small.png");
    background-repeat:no-repeat;
    cursor:pointer;
}

#tutorial_screen {
    position: relative;
    text-align: center;
    width: 1050px;
    height: 110px;
    top: 28px;
    z-index:1000;
    font-size:200%;
    border-color:black;
    background-color:#8195D5;
    border:solid;
    overflow:auto;
}

img
{
	padding-top:5px;
}

#tutorial_screen.correct {
    border-color:green;
}

#tutorial_screen.wrong {
    border-color:red;
}

#tutorial_screen #click_to_continue_true {
    position: absolute;
    bottom: 0;
    right: 0;
	color:#0033CC;
    font-size: 15px;
    cursor:pointer;
    visibility: hidden;
}

#tutorial_screen #click_to_continue_true.clickable_true {
    visibility: visible;
    font-size: 20px;
}

#tutorial_screen.multiple_choice_mode_true { height: 250px; }

#tutorial_screen form { text-align: center; }

input[type="radio"] {
    width: 4em;
    height: 2em;
}
